body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-------HEADER*/
.cabecera{
    position: relative;
    width: 100%;
    height: 400px;
    background-image: url(./imagenes/81bb8a67-92e1-43c4-8b93-e99155a851bb.jpg);
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    display: flex;
}
.opaco{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(55, 106, 71, 0.651);
}
.imglogo_img2{
    position: relative;
    z-index: 2;
    width: 480px;
}

/*--PRIMER PARRAFO E IMAGEN*/
.part1{
    padding:0px;
    width: 100%;
    height: 490px;
    background-color: rgb(213, 166, 72);
}
.somos{
    text-align: center;
    font-size: 1.21596em;
    font-family:'Courier New';
    font-weight: bold;
    padding: 2% 7%;
}
.img_part2{
    width: 100%;
    height: 300px;
    background-image: url(./imagenes/main.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment:fixed;
}

/*-----SEGUNDO PARRAFO E IMAGEN*/
.part2{
    width: 100%;
    height: 300px;
    background-color: rgb(74, 50, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.tit1, .tit2{
    text-align: center;
}
.vision, .mision{
    margin: 0 2.5%;
    font-size: 1.1596em;
    padding: 17px;
    color: aliceblue;
    font-family:'Courier New';
    font-weight: bold;
    background-color: rgba(175, 81, 81, 0.12);
}

/*-----TERCER PARRAFO Y MAPA*/
.part3{
    top: 0;
    left: 0;
    width: 100%;
    height: 450px;
    background-image: linear-gradient(45deg, rgb(186, 188, 119) 25%, transparent 25%),
        linear-gradient(-45deg, rgb(186, 188, 119) 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, rgb(186, 188, 119) 75%),
        linear-gradient(-45deg, transparent 75%, rgb(186, 188, 119) 75%);
    background-size: 60px 60px;
    background-position: 0 0, 30px 0, 30px -30px, 0px -30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map{
    width: 280px;
    margin: 5%;
}

.nort{
    text-align: center;
    margin: 5% ;
    font-size: 1.21596em;
    font-family:'Courier New';
    font-weight: bold;
    padding: 2% 7%;
    background-color: rgba(228, 232, 222, 0.645);
}

/*---CUARTA PARTE*/
.part4{
    padding: 0%;
    width: 100%;
    height: 300px;
    background-color: rgba(1, 74, 5, 0.794);
    text-align: center;
    color: aliceblue;
}

.tit{
    padding: 2.5%;
    font-size: 1.9em;
    font-family:'Courier New';
    font-weight: bold;
}


.valores{
    display: flex;
    justify-content: center;
    align-items: center;
}

.val{
    margin:0 5%;
    font-size: 1.21596em;
    font-family:'Courier New';
    font-weight: bold;
}

/*-------FOOTER*/
.informac{
    background-color: rgb(179, 179, 179);
    height: 270px;
    font-family:'Segoe UI';
    font-size: 1.15em;
    font-weight: 500;
    display: flex;
}

.contacto{
    margin: auto;
    justify-content: center;
    list-style-type: none;
}







